<div class="profile">
    <aside class="profile__aside aside">
        {{{arrowIcon}}}
    </aside>
    <div class="profile__info">
        {{{avatar}}}
        {{{form}}}
        {{{formChangeLogin}}}
        {{{changeProfile}}}
        {{{changePassword}}}
        {{{exitProfile}}}
    </div>
    {{{avatarEditor}}}
    {{{overlay}}}
</div>
