<div class="profile">
    <aside class="profile__aside aside">
        <a href="/main_chart.html">
            {{{ArrowIcon}}}
        </a>
    </aside>
    <div class="profile__info">
        {{{avatar}}}
        {{{form}}}
        {{{formChangeLogin}}}
        {{{changeProfile}}}
        {{{changePassword}}}
        {{{exitProfile}}}
    </div>
</div>
