<div class={{ class }}>
    <div class="form-wrap">
        <div class="title">{{ title }}</div>
        {{{ form }}}
        <a href={{ linkHref }} class="link {{ linkClass }}">{{ linkText }}</a>
    </div>
</div>
