<div class="signin">
    <div class="form-wrap">
        <div class="title">Регистрация</div>
        <form class="form">
            {{{ emailInput }}}
            {{{ loginInput }}}
            {{{ firstNameInput }}}
            {{{ secondNameInput }}}
            {{{ phoneInput }}}
            {{{ passwordInput }}}
            {{{ passwordDblInput }}}

            <div class="buttons-wrap">
                {{{ Button text="Зарегистрироваться"}}}
                <a href="#" class="link">Войти</a>
            </div>
        </form>
    </div>
</div>
