<div class="signin">
    <div class="form-wrap">
        <div class="title">Регистрация</div>
        <form class="form">
            {{{inputEmail}}}
            {{{inputLogin}}}
            {{{inputName}}}
            {{{inputSecondName}}}
            {{{inputPhone}}}
            {{{inputPassword}}}
            {{{inputPasswordDbl}}}
            <div class="buttons-wrap">
                {{{ Button text="Зарегистрироваться"}}}
                <a href="#" class="link">Войти</a>
            </div>
        </form>
    </div>
</div>
