<div class="chat">
    <aside class="chat__aside aside">
        {{{link}}}
        {{{searchUserInput}}}
        {{{searchBlock}}}
        {{{chatsList}}}
        {{{addChatButton}}}
        {{{removeChatButton}}}
    </aside>
    {{{ messenger }}}
</div>
