<div class={{ class }}>
    <div class="form-wrap">
        <div class="title">{{ title }}</div>
        <form class='form'>
            {{#each inputsBlock}}
                {{{ this }}}
            {{/each}}
            {{{ button }}}
        </form>
        {{{link}}}
    </div>
</div>
